

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">

<div id="mcSignup">
<form action="https://lucafluri.us17.list-manage.com/subscribe/post" method="post" id="mcform" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <input type="hidden" name="u" value="5d91fd1128f7dfd1fa3f7b140">
  <input type="hidden" name="id" value="e5ee634e1e">

  <input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="email">
  <input type="submit" value="Subscribe" name="subscribe" id="subscribe" class="button">
</div>
  <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_210acce5db69d3d4a04b0e25d_a268d63442" tabindex="-1" value=""></div>

</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>


<!--End mc_embed_signup-->
