* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  //background-color: $background-color;
  margin: 0;
  padding: 0;

}

html {
  font-family: $baskerville;
  font-size: 14px;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $grey-2;
  font-family: $sans-font;
  line-height: normal;
}

#HeadTitle{
  color: $titleColor;
}

a {
  color: $grey-3;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    color: $default-color;
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

@media (min-width: 1000px) {

  body {
      background: -webkit-radial-gradient(#323232, #202020) fixed;
      /* For Safari 5.1 to 6.0 */
      background: -o-radial-gradient(#323232, #202020) fixed;
      /* For Opera 11.1 to 12.0 */
      background: -moz-radial-gradient(#323232, #202020) fixed;
      /* For Firefox 3.6 to 15 */
      background: radial-gradient(#323232, #202020) fixed;
      /* Standard syntax */
      background-repeat: repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-attachment: fixed;
  }

}


@media (max-width: 1000px) {
  body {
    background-color: #202020;
  }
}
