$titleColor: #f6ff00;
$default-color: #979797;
$default-shade: #e9f100;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #d4d4d4;
$grey-3: #e7e4e4;
$white: #fff;
$blue: #4a9ae1;
$shadow-color: rgba(0, 0, 0, .2);
$background-color: #202124;
$lightBackground-color: #17181C;
$lightBackground: #2f2f2f;
$lighterBackground: #333333;


$baskerville: 'Libre Baskerville', 'Times New Roman', Times, serif;
$palatino: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-font: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$ubuntu: 'Ubuntu Mono', monospace;

$monospaced-font: Menlo, Monaco, monospace;
$code-color: #cdd400;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
