<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <link rel="shortcut icon" href="http://lucafluri.ch/icon.ico">
  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 id="HeadTitle" class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          <li><a href="http://lucafluri.ch"><img id="profilePic" src="http://lucafluri.ch/img/profilePic.png" alt="Main"></a></li>
          <!--<li><a href="{{ site.baseurl }}/">Posts</a></li>-->
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      {% include subscription-form.html %}
      <span>
        <a href="/feed.xml" ><p style="color: #979797">RSS</p></a>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
      </span>
    </footer>
  </body>
</html>
